.head
    composes large from './typo.css'
    composes blue-ish from './typo.css'
    background-color orange
    height 10em

.foot
    composes green-ish from './typo.css'
    background-color pink
    height 10em


